.dashboard-scroll-wrapper {
  height: 80vh; /* Full screen */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f4f4f4; 
}
.dashboard {
  padding: 1rem;
  min-width: 1200px;
  flex-direction: column;
  margin-top: 0%;
  font-family: Roboto, sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(30, 29, 29, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  box-shadow: 3px 3px 3px 3px rgba(8, 5, 5, 0.1);
  transform: translateY(-5px);
}

.card h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.card p {
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  font-weight: 500;
  color: #1f2937;
}

.dashboard {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 1.5rem;
}


.card {
  display: flex;
   position: relative;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  gap: 46px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
}

.card::before {
  content: '';
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, rgba(77, 76, 76, 0.15), transparent 40%);
  transform: translate(-50%, -50%);
  transition: top 0.1s, left 0.1s;
  pointer-events: none;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}
.card-link {
  text-decoration: none;
  color: inherit;
}

.cal-som{
  display: flex;
  margin-top: 40px;
}
.calendar-container {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.calendar {
  /* max-width: 100px; */
  margin: auto;
}

.calendar h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #444;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}

.day-name {
  font-weight: bold;
  color: #555;
  background: #e5e5e5;
  padding: 6px;
  border-radius: 5px;
}

.calendar-day {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  min-height: 20px;
  line-height: 20px;
  color: #333;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.calendar-day.today {
  background: #3b82f6;
  color: white;
  font-weight: bold;
}
.card-icon {
  font-size: 28px;
  margin-bottom: 8px;
  color: #007bff; /* Or any color you prefer */
}
